@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'variaveis.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: $cor-fundo;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

.flex {
  display: flex;

  &-center {
    justify-content: center;
    align-items: center;
  }
}
